.el-header {
    margin-top: 120px;
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
    height: 60px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    height: 600px;
}

.loginForm {
    position: relative;
    padding: 10px;
    background: #fff;
    width: 380px;
    height: 450px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1),-2px -2px 5px rgba(0,0,0,.1);
}

.el-form {
    width: 330px;
    margin-top: 30px;
}

.el-account span {
    width: 25px;
    background: url('/images/icons.png') -14px -79px no-repeat;
}

.el-password span {
    width: 25px;
    background: url('/images/icons.png') -59px -79px no-repeat;
}

.slider {
    display: inline-block;
    width: 250px;
    height: 40px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    position: relative;
}

    .slider .sliderCtrl {
        width: 40px;
        height: 40px;
        border: 1px solid #dcdfe6;
        border-radius: 2px;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .slider span {
        width: 16px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -6px;
        margin-left: -6px;
        display: inline-block;
        background: url('/images/indicateIcon.png') 0px -13px no-repeat;
    }

.slide_Indicator {
    height: 40px;
    background: #d1e9fe;
    border: 1px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

a.sliderActive {
    cursor: pointer;
    background: #1991fa;
}

a.validComplete {
    background: #52ccba;
}

a.validError {
    background: #f57a7a;
}

a.sliderActive span {
    background: url('/images/indicateIcon.png') 0px 0px no-repeat;
}

a.validComplete span {
    background: url('/images/indicateIcon.png') 0px -26px no-repeat;
}

a.validError span {
    background: url('/images/indicateIcon.png') 0px -68px no-repeat;
}

.picBlockContainer {
    position: absolute;
    left: 90px;
    top: 10px;
}

.verifyPicBlock {
    position: relative;
    width: 250px;
    height: 160px;
}

    .verifyPicBlock span {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 34px;
        height: 34px;
        z-index: 8;
        background: url('/images/indicateIcon.png') 0 -460px no-repeat;
        cursor: pointer;
    }

.fade-in-active, .fade-out-active {
    transition: all 0.6s ease
}

.fade-in-enter, .fade-out-active {
    opacity: 0
}

.pwdForgetLink {
    display: inline-block;
    color: #4477d0;
    text-align: right;
    width: 165px;
}
